body {
    background-color: linen;
}

.gif {
	/*-webkit-user-select: none; 
	cursor: zoom-in;*/
	position: relative;
	top: 70;
	left: 830;
}

.panel {
	background-color: white;
	border:2px solid #1f3a93;	
	width:301px;
	height:301px;
	position: absolute;
	top:10;
	left:10;
}

.tile {
	background-color: #1f3a93;
	color: white;
	position: absolute;
	width: 99px;
	height: 99px;

	text-align:center;

	margin:auto;
    line-height:95px;
    vertical-align:middle;
    font-size: 60px;
}

.button {
	font-size: 30px;
}

#search {
	position: absolute;
	top: 10;
	left: 350;
}

#solve {
	position: absolute;
	top: 60;
	left: 350;
}

#show {
	position: absolute;
	top: 10;
	left: 830;
}

#pos_1 {
	top: 1px;
	left: 1px;
}

#pos_2 {
	top: 1px;
	left: 101px;
}

#pos_3 {
	top: 1px;
	left: 201px;
}

#pos_4 {
	top: 101px;
	left: 1px;
}

#pos_5 {
	top: 101px;
	left: 101px;
}

#pos_6 {
	top: 101px;
	left: 201px;
}

#pos_7 {
	top: 201px;
	left: 1px;
}

#pos_8 {
	top: 201px;
	left: 101px;
}

#pos_9 {
	top: 201px;
	left: 201px;
}



/*=======================================================*/



.search_panel {
	background-color: white;
	border:2px solid #1f3a93;	
	width:301px;
	height:301px;

	position:absolute;
	top: 10;
	left:500;
}

.search_tile {
	background-color: #52b3d9;
	color: white;
	position: absolute;
	width: 99px;
	height: 99px;

	text-align:center;

	margin:auto;
    line-height:95px;
    vertical-align:middle;
    font-size: 60px;
}

#search_pos_1 {
	top: 1px;
	left: 1px;
}

#search_pos_2 {
	top: 1px;
	left: 101px;
}

#search_pos_3 {
	top: 1px;
	left: 201px;
}

#search_pos_4 {
	top: 101px;
	left: 1px;
}

#search_pos_5 {
	top: 101px;
	left: 101px;
}

#search_pos_6 {
	top: 101px;
	left: 201px;
}

#search_pos_7 {
	top: 201px;
	left: 1px;
}

#search_pos_8 {
	top: 201px;
	left: 101px;
}

#search_pos_9 {
	top: 201px;
	left: 201px;
}